* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: wrap;
}
body {
    background-color: blanchedalmond;
    position: relative;
    
    
}
/* <img src="https://ep01.epimg.net/cultura/imagenes/2018/08/15/babelia/1534351691_997591_1534352892_noticia_normal_recorte1.jpg" alt=""> */
img {
    opacity: 0.3;
    width: 100%;
}
a {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 0.9rem;
}
.a-mas {
    width: 2rem;
}
.display-flex {
    display: flex;
}
.justify-content-space-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.alignn-items-right {
    align-items: end;
}
.text-center {
    text-align: center;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.sticky{
    position: sticky;
    margin-top: 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}
.justify-content-flex-start {
    justify-content: flex-start;
}
